<% if @picture.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h2><%= pluralize(@picture.errors.count, "個のエラーがあるため、保存できません。") %></h2>
    <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="various-form">
  <%= form_with(model: @picture, local: true, url: choose_pictures_path) do |form| %>
    <table>
      <tr>
        <th>
          <%= form.label :content %>
        </th>
        <td>
          <%= form.text_field :content %>
        </td>
      </tr>
      <tr>
        <th>
          <%= form.label :image %>
        </th>
        <td>
          <%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %>
          <%= form.file_field :image %>
          <%= form.hidden_field :image_cache %>
        </td>
      </tr>
      <tr>
        <th>
          <% case action_name %>
          <% when "new","create","confirm" %>
            <%= form.submit "新規登録する" %>
          <% when "edit","update" %>
            <%= form.submit "編集する" %>
          <% end %>
        </th>
      </tr>
    </table>
  <% end %>
</div>

<%= link_to "一覧表示へ戻る", pictures_path %>