<h1>投稿内容確認中</h1>

<div>
  <%= form_with(model: @picture, local: true, url: pictures_path) do |form| %>
    <table>
      <tr>
        <th>
          <%= form.hidden_field :content, value: @picture.content %>
          <%= "本文：#{@picture.content}" %>
        </th>
      </tr>
      <tr>
        <th>
          <p>画像：ここにプレビュー画像を配置</p>
        </th>
      </tr>
      <tr>
        <th>
          <%= form.submit "これで確定する" %>
        </th>
      </tr>
      <tr>
        <th>
          <%= form.submit "前のページに戻る", name: "back" %>
        </th>
      </tr>
    </table>
  <% end %>
</div>
