<h1>一覧表示</h1>
<%= "投稿は全部で#{@pictures.count}個です。" %>

<% @pictures.each do |picture| %>
  <div class="tweet-form">
    <h4>
      <%= link_to "#{picture.content}", picture_path(picture) %>
    </h4>
    <p>
      ここに画像を表示したい
    </p>
    <p>
      <%= "投稿者：#{picture.user.name}" %>
    </p>
    <p>
      <%= picture.created_at %>
      <%#= picture.created_at.to_s.slice(0..19) %>
    </p>
  </div>
<% end %>

<%= link_to "投稿する", new_picture_path %>