<h1>投稿内容を参照中</h1>

<div>
  <h4><%= @picture.content %></h4>

  <p>
    投稿画像<br>
    <%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %>
  </p>

  <p>
    投稿者：<%= @picture.user.name %>
  </p>

  <p>
    投稿日：<%= @picture.created_at.to_s.slice(0..18) %>
  </p>
</div>

<%= link_to "一覧表示へ戻る", pictures_path %>
<br>
<%= link_to "投稿を編集する", edit_picture_path(@picture) %>
<br>
<%= link_to "投稿を削除する", picture_path(@picture), method: :delete, data: { confirm: "本当に削除してもよろしいですか？"} %>